
body {
    background-color: lightblue;
}

h1, h2 , h3, .main {
    text-align: center; 
}
p {
    background-color: rgb(143, 119, 153);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    text-align: center;
    padding: 5px;
    word-spacing: 10px;
    text-decoration-line: none;

}
nav a:hover {
    color: green;
}
nav a:active {
    color: lightsalmon;
}
nav a:visited {
    color: red;
}
img-caption {
    
        top: 320px;
        left: 0;
        right: 0;
        font-size: 20px;
        background-color: rgba(255,255,255,0.5);
        padding: 0px;
        transition: all 0.5s;

    }
    footer {
        text-align: center;

    }
 #article1 {
    color: lightsteelblue;
    background-color: black;
}
section {
    color: lime;

}